---
import Default from "../layouts/Default.astro";
import { localizePath } from "astro-i18next";
import { t, changeLanguage } from "i18next";
import { Trans, LanguageSelector } from "astro-i18next/components";

changeLanguage("en");
---

<Default>
  <div class="hidden md:flex md:justify-end">
    <LanguageSelector
      class="py-2 px-2 font-semibold bg-transparent hover:bg-gray-50 border-2"
      showFlag={true}
    />
  </div>
  <div class="mt-6 pb-6 md:mt-2">
    
      <div class="avatar m-auto mt-3 mb-6 block w-1/3 md:w-1/4">
        <div>
          <img
            class="mask mask-circle"
            src="/profile.jpg"
            alt="profile image"
          />
        </div>
      </div>
    
    <div class="py-1 text-3xl font-bold md:text-5xl">
      <Trans i18nKey="presentation.hello">
        Hi, I'm, <span class="text-primary"> Jose Valdez.</span> 👋
      </Trans>
    </div>

    <div class="py-4">
      <text class="text-lg md:text-3xl">
        {t("presentation.description")}
      </text>
    </div>
    <div class="mt-4">
      <a
        class="btn-primary btn capitalize"
        href={localizePath("/about")}
        target="_self"
      >
        {t("buttons.about")}</a
      >
      <a
        href="mailto:contact.josevaldezgaxiola@gmail.com"
        target="_self"
        class="btn-outline btn ml-5 capitalize"
        >{t("buttons.contact")}
      </a>
    </div>
  </div>
</Default>
