---
import { LanguageSelector } from "astro-i18next/components";
---

<div
  class="h-18 fixed top-0 z-50 flex w-full justify-center bg-base-100 bg-opacity-90 shadow-sm backdrop-blur lg:hidden"
>
  <div class="navbar">
    <div class="navbar-start">
      <label for="my-drawer" class="btn-ghost btn-square btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"></path></svg
        >
      </label>
    </div>
    <div class="navbar-center">
      <a class=" btn-ghost btn text-xl text-primary" href="/"
        >Jose Valdez Gaxiola
      </a>
    </div>
    <div class="navbar-end">
      <LanguageSelector
        class="text-sm font-semibold bg-transparent hover:bg-gray-50 border-2"
      />
    </div>
  </div>
</div>
