---
import { PROJECTS } from "../config";
---

<div class="mt-8 grid grid-cols-1 gap-8 xl:mt-12 xl:gap-12">
  {
    PROJECTS.info.map((item) => (
      <div
        class="flex h-96 items-end overflow-hidden rounded-lg bg-cover"
        style={`background-image:url(${item.image})`}
      >
        <div class="w-full overflow-hidden rounded-b-lg bg-white/90 px-8 py-4  ">
          <h2 class="mt-2 text-base font-medium capitalize text-black    ">
            {item.description}
          </h2>
          <a
            href={item.website}
            target="_blank"
            class="btn-outline btn-sm btn mt-2"
          >
            <p class="  uppercase tracking-wide text-primary  ">Website</p>
          </a>
          <a
            href={item.github}
            target="_blank"
            class="btn-outline btn-sm btn mt-2"
          >
            <p class="  uppercase tracking-wide text-primary  ">Github</p>
          </a>
        </div>
      </div>
    ))
  }
</div>
