---
import { localizePath } from "astro-i18next";
---

<div class="bg-base-500 drawer-side">
  <label for="my-drawer" class="drawer-overlay bg-base-300"></label>

  <div class="menu w-[19rem] overflow-y-auto bg-base-100 p-4 text-base-content">
    <div>
      <a class="btn-ghost btn text-lg tracking-widest text-primary" href="/"
        >Jose Valdez Gaxiola
      </a>
    </div>
    <ul class="pt-20">
      <li class="group transition-all duration-300 ease-in-out">
        <a
          class="bg-gradient-to-r from-primary to-primary bg-[length:0%_2px] bg-left-bottom bg-no-repeat transition-all duration-500 ease-out group-hover:bg-[length:100%_2px]"
          href={localizePath("/")}
        >
          Home
        </a>
      </li>
      <li class="group transition-all duration-300 ease-in-out">
        <a
          class="bg-gradient-to-r from-primary to-primary bg-[length:0%_2px] bg-left-bottom bg-no-repeat transition-all duration-500 ease-out group-hover:bg-[length:100%_2px]"
          href={localizePath("/about")}
        >
          About
        </a>
      </li>
      <li class="group transition-all duration-300 ease-in-out">
        <a
          class="bg-gradient-to-r from-primary to-primary bg-[length:0%_2px] bg-left-bottom bg-no-repeat transition-all duration-500 ease-out group-hover:bg-[length:100%_2px]"
          href="/about#projects"
        >
          Projects
        </a>
      </li>
      <li class="group transition-all duration-300 ease-in-out">
        <a
          class="bg-gradient-to-r from-primary to-primary bg-[length:0%_2px] bg-left-bottom bg-no-repeat transition-all duration-500 ease-out group-hover:bg-[length:100%_2px]"
          href="mailto:contact.josevaldezgaxiola@gmail.com"
        >
          Contact
        </a>
      </li> 
    </ul>
  </div>
</div>
