---
import '../assets/base.css'
import { SITE } from "../config"
import BaseHead from "../components/BaseHead.astro"
import SideBar from '../components/SideBar.astro';
import NavBar from '../components/NavBar.astro';
---


<!DOCTYPE html>
<html lang="en" data-theme="winter">
  <head>
    <BaseHead title={SITE.title} description={SITE.description} image={SITE.image} />
  </head>
  <body>
    <div class="bg-base-100 drawer drawer-mobile">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col bg-base-100">
    <div class="md:flex md:justify-center">
      <main class="p-6 pt-10 max-w-[900px]">
        <slot />
      </main>
    </div>
    <NavBar />
  </div>
  <SideBar />
  </div>
 
  </body>
</html>